body {
  margin: 0;
  padding: 0;
  background: #282c34;
  height: 100vh;
  font-family: Verdana, Geneva, sans-serif;
  color: white;
  text-align: center;
}

h1 {
  font-weight: 100;
  font-size: 3rem;
  letter-spacing: 0.02em;
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  width: 500px;
}